.header-cont {
    justify-content: center;
}

.searchbtn {
    background-image: url("../assets/img/magnifier.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.star-rating {
    font-size: 35px;
}